--find-links https://storage.googleapis.com/jax-releases/libtpu_releases.html
setuptools==69.5.1
jax[tpu]==0.4.38
jaxlib==0.4.38
flax==0.10.2
orbax-checkpoint==0.5.23
optax>=0.2.5
ml-collections==1.0.0
absl-py>=1.4.0
numpy>=1.26.4,<2.0.0
ml-dtypes>=0.4.0
scipy>=1.12.0
PyYAML>=6.0.1
matplotlib>=3.8.0
requests>=2.31.0
tqdm>=4.66.0
pillow>=9.5.0
gcsfs>=2024.1.0
datasets>=2.19.0
huggingface-hub>=0.23.0
transformers>=4.41.2,<4.45.0
sentencepiece>=0.1.99
torch==2.3.0
torchvision==0.18.0
diffusers>=0.27.0
wandb==0.16.6
torchmetrics
tensorflow
einops
sacrebleu
rouge-score